/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* This is where your own coding starts! Above is the reset code */

html {
    height: 100%;
    font-size: 62.5%;
}

* {
  box-sizing: border-box;
  
 
}
.topsec {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 5rem;
  margin: 2rem;
  
}
/* This is the SECTION for smaller device!!!!*/
@media (max-width:800px) {

  .topsec {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 15rem;
  }
  .topsec .name {
    font-size: 2rem;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    
  }

  .navselectors {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    font-size: 1rem;

  }

  
}

.name {
  font-size: 5rem;
  
  
}




.navselectors li{
  padding: 1px;
  display: block;
  float: left;
  border: 2px solid;
  padding: 1px;
  font-size: 2.5rem;
  margin: 0px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  background-color: black;
  color: white;
}

.bigblock {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 4rem 0;
 
}

.biggestbox {
  display: flex;
  height: 50rem;
  width: 130rem;
  border: solid;
  align-items: center;
  justify-content: center; 
  background-image: url("https://i.picsum.photos/id/314/1300/500.jpg?hmac=HWPjgiV_81ihEgdLL5pUX3nN1DTOXomeGraQrdJIeMs")
  }

.forrestpic {
  margin: o o 2px 0;
}

.topbutton {
  
}

.smallblocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 
  
}

.smallblocks .smallerboxes {
  height: 38rem;
  width: 38rem;
  border: solid;
  margin: 0 0 6rem 0;
 }

p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 00px 0 0 0;
}

.footsec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;
  background-color: #E0D9D9;
  }

.bottombutton {
  background-color: black;
  color: white;
}




/* This is page two!!! Below!!! */

.pagetwo {
  background-color: black;
}

.aboutpage {
  color: white;
  font-size: 7rem;
  text-align: center;
  margin: 3rem 0 5rem 0;
}

.bigtopphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10rem 0;
}

.aboutphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  width: 130rem;
  border: solid;
  border-color: white;

}

.aboutcontent {
  display: flex;
  justify-content: center;
  align-items: center;

}

.aboutpara {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30rem;
  width: 65rem;
  border: solid;
  border-color:;
}

.aboutp{
  color: white;
  font-size: 3rem;
}