/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* This is where your own coding starts! Above is the reset code */

html {
    height: 100%;
    font-size: 62.5%;
}

* {
  box-sizing: border-box;
  
 
}
.topsec {
  display: flex;
  flex-fow: row;
  justify-content: space-between;
  height: 5rem;
  margin: 2rem;
  
}


.name {
  font-size: 5rem;
  
  
}

.navlist {
  
  }



.navselectors li{
  padding: 1px;
  display: block;
  float: left;
  border: 2px solid;
  padding: 1px;
  font-size: 2.5rem;
  margin: 0px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  background-color: black;
  color: white;
}

/* This is the SECTION for smaller device!!!!*/
@media (max-width:800px) {

  .topsec {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 80%;
  }
  .topsec .name {
    display: flex;
    font-size: 3rem; /* Why cant i use percentages or em's here? */
    justify-content: center;
    
  }
  .navselectors {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 1rem;  /* Font-size did not change? Why? Why did I have to change on .a */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   }
  
  a { 
    font-size: 80%;
  }
  
  a:hover {
    color: white; /*Why wont the entire block go black? just the letters?*/
  }
}

@media (max-width: 500px) {
    .topsec {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 60%;
  }
  
 .topsec .name {
    display: flex;
    font-size: 2rem; /* Why cant i use percentages or em's here? */
    justify-content: center;
  }
  .navselectors {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 1rem;  /* Font-size did not change? Why? Why did I have to change on .a */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
   }
  a { 
    font-size: 60%;
  }
  
  a:hover {
    color: white; /*Why wont the entire block go black? just the letters?*/
  }
}
/* @media ENDS HERE FOR HEADER */

/* This is the MAIN SECTION, where the main pic is */

.bigblock {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 4rem 0;
 
}

.biggestbox {
  display: flex;
  height: 50rem;
  width: 130rem;
  border: solid;
  align-items: center;
  justify-content: center; 
  background-image: url("https://i.picsum.photos/id/314/1300/500.jpg?hmac=HWPjgiV_81ihEgdLL5pUX3nN1DTOXomeGraQrdJIeMs")
  }

/* Below is the @media coding!!!*/

@media (max-width: 800px) {
  .bigblock {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .biggestbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: ;  /* Why does it disappear when i add a percentage to the height??? */
    width: 80%;
  }
}

/* This is the MAIN section where the 6 photos are */

.forrestpic {
  margin: o o 2px 0;
}

.topbutton {
  
}

.smallblocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  
}

.smallerboxes {
  height: 38rem;
  width: 38rem;
  border: solid;
  margin: 0 0 6rem 0;
 }

p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0px 0 0 0;
}

/* Below here will go the @media coding for the main section!!! */
@media (max-width: 800px) {
  .smallblocks {
    display: flex;
    justify-content:
    width: 80%;
   
    
  }
  
 .smallerboxes {
   display: flex;
   flex-flow: column;
   width: 40%; /* why does it make it 40% to the page or block and not the parent size? */
   justify-content:
   align-items:
    }
  
  p {
    font-size: 170%;
  }
  }


.footsec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;
  background-color: #E0D9D9;
  }

.bottombutton {
  background-color: black;
  color: white;
}